/* Reset / Base Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  line-height: 1.5;
  font-family: "Azeret Mono", monospace;
  font-style: normal;
  background: rgb(255, 255, 255);
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
}
/* Navbar Style CSS */
.nav_bar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.nav_bar .logo {
  font-size: 28px;
  font-weight: 800;
  color: #0d1321;
}
.nav_bar .logo:hover {
  scale: 1.1;
}
.nav_bar .btn {
  padding: 8px 10px;
  border: 1px solid #ff0000;
  border-radius: 8px;
  opacity: 0.8;
}
.nav_bar .btn a {
  font-size: 16px;
  font-weight: 600;
}
.nav_bar .btn:hover {
  translate: -1rem;
}

/* Intro Section Style CSS */
.intro {
  width: 100%;
  height: 600px;
  background-image: url(./images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.intro .intro_content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_content img {
  width: 200px;
  margin-top: 40px;
}
.intro .intro_title {
  color: #0d1321;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 60px;
}
.intro .intro_desc {
  color: #0d1321;
  font-size: 16px;
  text-align: center;
}
.intro .btn {
  padding: 8px 15px;
  background-color: #0d1321;
  border-radius: 5px;
  margin-top: 15px;
}
.intro .btn a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.intro .btn:hover {
  scale: 1.1;
}

/* Development Style CSS */
